/* 헤더 */
.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
}
.mainLink{
  text-decoration: none;
  margin-left: 40px;
  font-weight: 2000;
  font-size: 40px;
  color: #203721; 
}
.subLink{
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #203721; 
}
.header h1 {
  font-size: 50px;
  font-weight: bold;
}

.nav span {
  margin-left: 20px;
  cursor: pointer;
  font-weight: 500;
}

.mainText{
    text-align: center;
    font-size: 30px;
}
.Maincontainer{
    margin-top: 45px;
    width: 60%;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.M_input-area input{
    width: 500px;
    height: 70px;
    margin: 30px;
    padding: 10px;
    border: 2px solid #4caf50;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    align-items: center;
}
.M_input-area select{
    width: 200px;
    height: 70px;
    margin: 30px;
    padding: 10px;
    border: 2px solid #4caf50;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    align-items: center;
}
.EnterBtn{
    width: 130px;
    height: 90px;
    margin-top: 40px;
    color:white;
    border: 2px solid white;
    background-color: #4caf50;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease;
}

.EnterBtn:hover {
  background-color: white;
  border: 2px solid #4caf50;
  color: #4caf50;
}